<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <!-- Prefetch non-authenticated API routes which client will need. !-->
    <link rel="preload" as="fetch" href="https://hypothes.is/api/" crossorigin="anonymous">
    <link rel="preload" as="fetch" href="https://hypothes.is/api/links" crossorigin="anonymous">
  </head>
  <body>
    <hypothesis-app></hypothesis-app>

    <script class="js-hypothesis-config" type="application/json">
    {{&settings}}
    </script>

    <script src="/client/build/boot.js"></script>
  </body>
</html>
